<section class="section-features" id="section-features">
  <div class="row">

    <div class="col-1/4">
      <div class="feature-box">
        <i class="feature-box__icon fal fa-globe"></i>
        <h3 class="heading-tertiary u-mb-sm">Explore the world</h3>
        <p class="feature-box__text">
          Lorem ipsum rem quis voluptates incidunt Nesciunt est voluptate quaerat non sequi Laboriosam.
        </p>
      </div>
    </div>

    <div class="col-1/4">
      <div class="feature-box">
        <i class="feature-box__icon fal fa-compass"></i>
        <h3 class="heading-tertiary u-mb-sm">Meet nature</h3>
        <p class="feature-box__text">
          Lorem ipsum rem quis voluptates incidunt Nesciunt est voluptate quaerat non sequi Laboriosam.
        </p>
      </div>
    </div>

    <div class="col-1/4">
      <div class="feature-box">
        <i class="feature-box__icon fal fa-map-marked"></i>
        <h3 class="heading-tertiary u-mb-sm">Find your way</h3>
        <p class="feature-box__text">
          Lorem ipsum rem quis voluptates incidunt Nesciunt est voluptate quaerat non sequi Laboriosam.
        </p>
      </div>
    </div>

    <div class="col-1/4">
      <div class="feature-box">
        <i class="feature-box__icon fal fa-heartbeat"></i>
        <h3 class="heading-tertiary u-mb-sm">Live a healthier life</h3>
        <p class="feature-box__text">
          Lorem ipsum rem quis voluptates incidunt Nesciunt est voluptate quaerat non sequi Laboriosam.
        </p>
      </div>
    </div>

  </div>
</section>
