<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <%= image_tag 'nat-8.jpg', alt: 'Tour photo', class: 'popup__img' %>
      <%= image_tag 'nat-9.jpg', alt: 'Tour photo', class: 'popup__img' %>
    </div>
    <div class="popup__right">
      <%= link_to '#section-tours', class: 'popup__close' do %>
        &times;
      <% end %>
      <h2 class="heading-secondary u-mb-sm">Start booking now</h2>
      <h3 class="heading-tertiary u-mb-sm">Important &ndash; Please read these terms before booking</h3>
      <p class="popup__text">
        Dolor nihil sunt quibusdam nam maiores Tempora magnam officiis quam magni eveniet? Similique officiis libero earum modi exercitationem Autem dolorum fugit quibusdam iste fugiat Earum a amet aliquam expedita animi. Amet quo quo sequi molestiae beatae Illum ipsam dignissimos cumque quibusdam ducimus Officiis cumque velit obcaecati et doloremque. Eius possimus in ea quam iste neque modi? Maxime iusto cupiditate blanditiis.
      </p>
      <%= link_to 'Book now', '#', class: 'btn btn--green' %>
    </div>
  </div>
</div>
