<section class="section-stories">
  <div class="bg-video">
    <%= video_tag ['video.mp4', 'video.webm'],
      autoplay: true,
      loop: true,
      muted: true,
      class: 'bg-video__content' %>
  </div>

  <div class="u-center-text u-mb-lg">
    <h2 class="heading-secondary">
      We make people genuinely happy
    </h2>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <%= image_tag 'nat-8.jpg', alt: 'Person on a tour', class: 'story__image' %>
        <figcaption class="story__caption">
          Mary Smith
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-mb-sm">I had the best week ever with my family</h3>
        <p>
          Sit sequi commodi ratione iusto sit odio Aut a quod aspernatur nobis odit quis. Reiciendis molestias molestiae asperiores eum nesciunt? Itaque eligendi amet necessitatibus quas iste Nihil iste obcaecati fugiat. Sit sequi commodi ratione iusto sit odio Aut a quod aspernatur nobis odit quis.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <%= image_tag 'nat-9.jpg', alt: 'Person on a tour', class: 'story__image' %>
        <figcaption class="story__caption">
          Jack Wilson
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-mb-sm">WOW! My life is completely different now</h3>
        <p>
          Sit sequi commodi ratione iusto sit odio Aut a quod aspernatur nobis odit quis. Reiciendis molestias molestiae asperiores eum nesciunt? Itaque eligendi amet necessitatibus quas iste Nihil iste obcaecati fugiat. Sit sequi commodi ratione iusto sit odio Aut a quod aspernatur nobis odit quis.
        </p>
      </div>
    </div>
  </div>

  <div class="u-center-text u-mt-xl">
    <%= link_to '#', class: 'btn-text' do %>
      Read all stories &rarr;
    <% end %>
  </div>

</section>
