// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #777777;

$color-gray-light-1: #f7f7f7;


// Font
$default-font-size: 1.6rem;


// Grid
$grid-width: 114rem;
$grid-color: #eeeeee;
$grid-gutter-row: 8rem;
$grid-gutter-column: 6rem;
